@import "tailwindcss";

@theme {
    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @keyframes shimmer {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(100%);
        }
    }
}

.animate-shimmer {
    animation: shimmer 1.5s infinite;
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 60s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}