@import "tailwindcss";

@theme {
    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @keyframes shimmer {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(100%);
        }
    }
}

.animate-shimmer {
    animation: shimmer 1.5s infinite;
}

/* Custom golden scrollbar for dropdowns */
.gold-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d4af37 transparent;
}

.gold-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.gold-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.gold-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d4af37;
    border-radius: 10px;
    border: 1px solid transparent;
}

.gold-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #fbe376;
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 60s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}